@mixin transition($prop...){
  transition: $prop;
  -webkit-transition: $prop;
  -moz-transition: $prop;
  -o-transition: $prop;
  -ms-transition: $prop;
}

@mixin box-sizing{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -o-border-radius: $radius;
  -ms-border-radius: $radius;
}

@mixin transform ($translate...) {
  -webkit-transform: $translate;
  -moz-transform: $translate;
  -ms-transform: $translate;
  -o-transform: $translate;
  transform: $translate;
}


@mixin btn-hover($color, $bg, $border){
  color: $color;
  background: $bg;
  border: 1px solid $border;

  &:hover, &:focus{
    background: $border;
    color: $bg;
  }

  &:active{
    background: rgba($border, 0.8);
  }
}

// @mixin a-hover($color){
//   text-decoration: underline;
//   color: $color;
//   @include transition(all, 0.5s, ease);

//   &:hover, &:active, &:focus{
//     opacity: 0.8;

//   }
// }

// @mixin form-elem{
//   outline: none;

//   &:hover, &:focus{
//     color: #ccc;
//   }
// }