@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Source+Sans+Pro:300,300i');
@import "normalize";
@import "variables";
@import "mixin";
@import "grid";


/* Basic styles */
*, *:after, *:before{
	@include box-sizing;
	margin: 0;
}

html, body{
	font-family: $main-font;
	color: $font-color;
	font-weight: $font-weight;
  line-height: $font-height;
  background: $color-bg;
  text-align: center;
}

/* Typography */
.btn {
	position: relative;
	display: inline-block;
	// margin-top: 80px;
	// width: 100%; 
	// color:  #fff;
	// font-size: 24px;
	// font-weight: 400;
	text-align: center;
	background: transparent;
	border: 1px solid transparent;
	text-transform: uppercase;
	text-decoration: none;
	overflow: hidden;
	cursor: pointer;
	&:after {
		content: "";
		background: #fff;
		display: block;
		position: absolute;
		padding-top: 300%;
		padding-left: 350%;
		margin-left: -20px!important;
		margin-top: -120%;
		opacity: 0;
		@include transition (all 0.8s);

	}

	&:active {
		&:after {
			padding: 0;
			margin: 0;
			opacity: 1;
			@include transition (0s);
		}
	}
}


.article {
	display: inline-block;
	margin-bottom: 40px;
	max-width: 475px;
	width: 100%;

	&__title {
		padding-bottom: 40px;
		color: #333b46;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 20px;
		font-weight: 300;
		line-height: 1;
		text-transform: uppercase;
		letter-spacing: 0.2em;

		&--portfolio{
			margin-bottom: 110px;
		}
	}

	&__text {
		margin-bottom: 60px;
	}
}

/* == Fist Slide == */

.first-slide {
	position: relative;   
	min-height: 100vh;
	background: #000 url("../img/first-slide-bg.jpg") no-repeat center center; 
	background-size: cover;

	&__next-link{
		position: absolute;
		left: 50%;
		bottom: 77px;
		// display: block;
		@include transform (translateX(-50%)); 
	}

	&__next-link{
		width: 36px;
		height: 36px;
		background-color: transparent;
		vertical-align: middle;
		line-height: 34px;
		@include border-radius(50%);
		@include transition (all 0.5s ease);

		img {
			display: inline-block;
		}

		&:hover, &:focus{
			background-color: $hover-color;
		}
	}
}

/* Header */
.header{
	padding-top: 39px;

	.col-10 {
		text-align: right;
	}
	
	.col-2 {
		text-align: left;
	}

}

.logo{
    display: inline-block;
    vertical-align: middle;
}

.menu{
	display: inline-block;
	vertical-align: middle;


	&__list{
		list-style: none;
		padding-left: 0;
	}

	&__item{
		display: inline-block; 
	}

	&__link {
		position: relative;
		display: inline-block;
		padding: 8px 20px;
		color: #fff;
		border: 1px solid transparent;
		@include border-radius(17px);
		text-decoration: none;
		font-size: 16px;
		line-height: 1;
		text-align: left;
		@include transition (all 0.5s ease);

		&:hover, &:focus, &:active, &.active {
			border: 1px solid #fff;
		}   
	}
}


.first-slide-content {
	position: absolute;
	top: 50%;
	left: 50%;
	@include transform (translate(-50%,-50%));
	max-width: 50%;
	color: $second-color;

	&__title {
		position: relative;
		margin-top: 15px;
		margin-bottom: 30px;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 35px;
		font-weight: 300;
		line-height: 1;
		letter-spacing: 0.2em;
		text-transform: uppercase;
	}

	&__text {
		font-size: 16px;
		line-height: 1.75;
		font-weight: 400;
	}
}


/* == Portfolio == */
.slide-portfolio {
	background-color: #f3f3f3;
	padding-top: 85px;
	padding-bottom: 100px;
}

.filters-button-group {
	margin-bottom: 60px;
	font-size:0;

}

.btn-filter {
	position: relative;
	display: inline-block;
	font-size: 16px;
	color: #464646;
	padding: 0 15px 12px 15px;
	border: none;
	background-color: transparent;

	&:after {
		content: '';
		position: absolute;
		top: 100%;
		left: 50%;
		margin-left: -20%;
		width: 40%;
		height: 2px;
		background-color: transparent;
		outline: none;
		@include transition (all 0.5s ease);
	}

	&:hover, &:focus {
		outline: none;

		&:after {
			background-color: $hover-color;
		}
	}
}

// Для Изотопа
.grid-sizer,
.grid-item { width: 24.32%; }
.grid-item { margin-bottom: 10px; }


/* == Team == */
.slide-team {
	background-color: #fff;
	padding-top: 80px;
	padding-bottom: 100px;
}

.my-slide {
	padding-left: 70px;
	padding-right: 70px;

	&__img{
		float:left;
	}

	&__content{
		float:right;
		max-width: 430px;
		width:100%;
		padding-right: 45px;
		text-align: right;
	}

	&__title{
		font-size: 20px;
		margin-bottom: 12px;
		color: #464646;
	}

	&__subtitle {
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 300i;
		text-transform: uppercase;
		margin-bottom: 30px;
	}


}




/* == Testimonials == */

/* == CONTACT US == */

Для карты
#map {
	height: 439px;
	width: 100%;
}


/* == Footer == */

.social-block {
	display: inline-block;
	max-width: 500px;
	width: 100%;    


	&__icon {
		display: inline-block;
		width: 70px;
		height: 70px;
		margin: 0 10px;
		background: #000;
		line-height: 70px;
		vertical-align: middle;
		color:  #979797;
		@include border-radius(50%);
		font-size: 34px;
	}
}