$main-font: 'Open Sans', sans-serif;
$secondary-font: 'Source Sans Pro', sans-serif;
$font-color: #81868e;
$second-color: #fff;
$hover-color: #19bd9a;
$font-size: 14px;
$font-height: 1.79; //line-height
$font-weight: 400;
$color-bg: #fff;


/** Grid variables **/
$container-width: 1200px;
$col-padding: 15px;